:root {
  --main-cl: #222222;
  --accent-cl: #e40517;
  --white-cl: #ffffff;
  --gray-cl: #e8ebed;
  --yellow-cl: #ffd200;
  --blue-cl: #435776;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--main-cl);
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button,
input {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.container {
  max-width: 100%;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 5;
}

.main-nav {
  display: flex;
  justify-content: center;
}

.list-nav {
  display: flex;
  align-items: center;
}
.list-nav .text {
  width: 100px;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-cl);
}
.list-nav .item:nth-child(1),
.list-nav .item:nth-child(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-icon-header {
  position: relative;
  margin-bottom: 15px;
  width: 48px;
  height: 48px;
  background-color: var(--blue-cl);
  border-radius: 50%;
}
.box-icon-header .icon {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 28px;
  height: 28px;
  fill: var(--white-cl);
}
.box-icon-header .icon.icon-star {
  top: 47%;
  left: 46%;
}
.box-icon-header .icon.icon-like {
  top: 47%;
  left: 50%;
}

.logo {
  display: inline-block;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .box-icon-header {
    width: 58px;
    height: 58px;
  }
  .box-icon-header .icon {
    width: 38px;
    height: 38px;
  }

  .logo {
    margin: 0 20px 0 20px;
    width: 140px;
  }
}
@media screen and (min-width: 1200px) {
  .list-nav .text {
    width: 110px;
    font-size: 13px;
  }

  .box-icon-header {
    width: 68px;
    height: 68px;
  }
  .box-icon-header .icon {
    width: 48px;
    height: 48px;
  }

  .logo {
    margin: 0 30px 0 30px;
    width: 17 0px;
  }
}
.main-title {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: 0.05em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 41px;
  }
}

.order-btn {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: 700;
  color: var(--main-cl);
  background-color: var(--yellow-cl);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0px 12px 20px -5px rgba(34, 60, 80, 0.2);
  transition: all 250ms linear;
}
.order-btn:active {
  background-color: var(--white-cl);
}
.order-btn:disabled {
  opacity: 0.7;
}

.section-title {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
.section-title .red {
  color: var(--accent-cl);
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 32px;
  }
}

.section {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 100px 0;
  }
}

.form {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px 30px 20px;
  width: 305px;
  background-color: var(--white-cl);
  border-radius: 10px;
}
.form .form-title {
  margin-bottom: 5px;
  font-size: 13px;
  font-weight: 600;
  color: var(--accent-cl);
}
.form .form-text {
  margin-bottom: 10px;
}
.form .form-text .old-price {
  font-weight: 700;
  text-decoration: line-through;
}
.form .form-text .new-price {
  font-weight: 700;
  color: var(--accent-cl);
}
.form .form-label {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.form .placeholder {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}
.form .placeholder .required {
  color: var(--accent-cl);
}
.form .input {
  padding: 10px 45px 10px 10px;
  width: 100%;
  border: 2px solid #acc6d4;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 225px center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  outline-color: #438dbf;
}

.box-message {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 150px;
  height: 50px;
  background-color: var(--accent-cl);
  border-radius: 6px;
}
.box-message.name-box-message {
  top: -60px;
  left: 0;
}
.box-message.tel-box-message {
  top: 50px;
  left: 0;
}
.box-message .message {
  font-size: 12px;
  line-height: 1.1;
  color: var(--white-cl);
}
.box-message .icon {
  position: absolute;
  width: 20px;
  height: 20px;
  fill: var(--accent-cl);
}
.box-message .icon.name-message-icon {
  top: 75%;
  left: 0;
  transform: rotate(-150deg);
}
.box-message .icon.tel-message-icon {
  top: -13%;
  left: 5px;
  transform: rotate(30deg);
}

.form .input.error {
  background-image: url(/cross.941452fd.png);
}

.form .input.success {
  background-image: url(/check.08538fc9.png);
}

@media screen and (min-width: 768px) {
  .form {
    width: 390px;
  }
  .form .form-title {
    font-size: 17px;
  }
  .form .input {
    background-position: 310px center;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    top: 45%;
  }

  .box-message {
    height: 55px;
  }
  .box-message.name-box-message {
    top: -70px;
    left: 0;
  }
  .box-message.tel-box-message {
    top: 60px;
  }
  .box-message .message {
    font-size: 14px;
  }
  .box-message .icon.name-message-icon {
    top: 85%;
  }
  .box-message .icon.tel-message-icon {
    top: -20%;
  }
}
.footer {
  padding: 120px 0 50px 0;
  background-color: var(--main-cl);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-socials {
  margin-bottom: 20px;
}
.list-socials .item {
  margin-bottom: 5px;
}
.list-socials .item:not(:last-child) {
  margin-bottom: 10px;
}
.list-socials .link {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-cl);
}
.list-socials .icon {
  width: 35px;
  height: 35px;
  fill: var(--white-cl);
}

.policy {
  display: block;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--white-cl);
}

.copy {
  color: var(--white-cl);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 50px;
  }
}
.submit-message {
  position: fixed;
  top: 5%;
  left: -2%;
  transform: translateX(-100%);
  padding: 20px 10px 20px 20px;
  width: 90%;
  color: var(--white-cl);
  border-right: 5px solid;
  box-shadow: 4px 0px 8px 0px rgba(34, 60, 80, 0.2);
  transition: all 250ms linear;
  z-index: 5;
}
.submit-message.submit-message-success {
  background-color: #37cb54;
  border-color: #28983e;
}
.submit-message.submit-message-error {
  background-color: var(--accent-cl);
  border-color: #a50f1b;
}

.submit-message-success.is-show {
  transform: translateY(0);
}

.submit-message-error.is-show {
  transform: translateY(0);
}

.privacy-body {
  color: var(--white-cl);
  background-color: var(--main-cl);
}

.section-policy {
  text-align: justify;
}
.section-policy .title {
  margin-bottom: 30px;
  text-align: center;
}
.section-policy p {
  margin-bottom: 20px;
}
.section-policy ul {
  padding-left: 30px;
  list-style: square;
}

.up-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: translateY(150%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 50%;
  background-image: linear-gradient(150deg, rgb(49, 90, 143) 0%, rgb(172, 198, 212) 100%);
  box-shadow: 0px 2px 15px 0px rgba(34, 60, 80, 0.3);
  transition: all 150ms linear;
  cursor: pointer;
  z-index: 10;
}
.up-btn .icon {
  width: 25px;
  height: 25px;
  fill: var(--white-cl);
}
.up-btn.up-btn__is-show {
  transform: translateY(0);
}

.hero {
  position: relative;
  padding: 125px 0 190px 0;
  background-image: url(/item-1.b5f28c89.png);
  background-repeat: no-repeat;
  background-position: center top;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/item-1@2x.ba127519.png);
    background-size: cover;
  }
}
.hero .text {
  margin: 0 auto 330px auto;
  width: 300px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-cl);
}

.box-sale {
  position: absolute;
  top: 290px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: rgba(228, 5, 23, 0.7);
  border-radius: 50%;
}
.box-sale .old-price {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--white-cl);
}
.box-sale .new-price {
  margin-bottom: 7px;
  font-size: 36px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--white-cl);
}
.box-sale .sale {
  padding: 3px 8px;
  color: var(--white-cl);
  background-color: var(--main-cl);
  border-radius: 3px;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 150px 0 250px 0;
    background-image: url(/item-1.cf869039.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/item-1@2x.77f5fa21.png);
  }
}
@media screen and (min-width: 768px) {
  .hero .text {
    margin-bottom: 260px;
  }
}
@media screen and (min-width: 768px) {
  .box-sale {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 170px 0 117px 0;
    background-image: url(/item-1.232ca4cf.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(/item-1@2x.b70d808a.png);
  }
}
@media screen and (min-width: 1200px) {
  .hero .text {
    margin: 0 auto 270px auto;
    width: 430px;
    font-size: 24px;
    color: var(--main-cl);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (min-width: 1200px) {
  .box-sale {
    top: 380px;
  }
}
.advantage {
  padding: 735px 0 40px 0;
  position: relative;
  background-color: var(--main-cl);
}

.advantage-title {
  color: var(--white-cl);
  text-align: center;
}

.list-advantage {
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  background-color: #94b0c3;
  box-shadow: 0px 12px 20px 0px rgb(34, 34, 34);
  border-radius: 3px;
  overflow: hidden;
}
.list-advantage .item {
  padding: 15px;
}
.list-advantage .item:nth-child(2n+1) {
  background-color: #acc6d4;
}
.list-advantage .item .text {
  text-align: justify;
}

.list-advantage .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list-advantage .box-content .icon {
  width: 60px;
  height: 60px;
  fill: var(--main-cl);
}
.list-advantage .box-content .heading {
  width: 210px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
}

.list-for {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-for .item {
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}
.list-for .item:not(:last-child) {
  margin-bottom: 30px;
}
.list-for .item .text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 0;
  width: 100%;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-cl);
  background-color: rgba(67, 87, 118, 0.8);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

@media screen and (min-width: 768px) {
  .advantage {
    padding: 260px 0 60px 0;
  }

  .list-advantage {
    top: -220px;
    display: flex;
    flex-wrap: wrap;
    width: 620px;
  }
  .list-advantage .item {
    width: 310px;
  }

  .list-for {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .list-for .item {
    width: 272px;
  }
  .list-for .item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding: 380px 0 100px 0;
  }

  .list-advantage {
    top: -90px;
  }

  .list-for {
    gap: 30px;
  }
}
.about {
  background-image: linear-gradient(180deg, rgb(34, 34, 34) 0%, rgb(67, 87, 118) 100%);
}
.about .box-img {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}
.about .box-img img {
  align-self: flex-start;
}
.about .text {
  text-align: justify;
  color: var(--white-cl);
}
.about .text .parag {
  display: inline-block;
}
.about .text .parag:not(:last-child) {
  margin-bottom: 20px;
}

.about-title {
  color: var(--white-cl);
}

@media screen and (min-width: 768px) {
  .about .box-content {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 20px;
  }
  .about .box-content .item {
    flex-basis: calc((100% - 20px) / 2);
  }
  .about .box-content .box-img {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.9) 0%, rgba(34, 34, 34, 0.9) 100%), url(/bg.c0426cc1.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .about {
    background-image: linear-gradient(180deg, rgba(34, 34, 34, 0.9) 0%, rgba(34, 34, 34, 0.9) 100%), url(/bg@2x.c8d23038.png);
    background-size: cover;
  }
}
.gallery-title {
  text-align: center;
}

.box-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-slider {
  width: 300px;
}
.gallery-slider:not(:last-child) {
  margin-bottom: 70px;
}

.gallery-list-content {
  margin-bottom: 20px;
}
.gallery-list-content .text-material {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.gallery-list-content .text .bold {
  font-weight: 700;
}

.gallery-photo {
  margin-bottom: 20px;
}

.gallery-photo .list-small-photo {
  display: flex;
}
.gallery-photo .list-small-photo .item {
  position: relative;
  border-top: 3px solid var(--white-cl);
  cursor: pointer;
}
.gallery-photo .list-small-photo .item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
  transition: all 250ms linear;
}

.gallery-photo .list-small-photo .item.on-show-photo::after {
  opacity: 0;
}

.gallery-price {
  margin-bottom: 20px;
}

.gallery-price {
  background-image: url(/temp.774a80e8.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 105px;
}
.gallery-price .old-price-sale {
  display: flex;
}
.gallery-price .old-price {
  margin-right: 15px;
  font-size: 32px;
  font-weight: 700;
  text-decoration: line-through;
}
.gallery-price .sale {
  align-self: flex-start;
  padding: 5px;
  background-color: var(--main-cl);
  border-radius: 3px;
  color: var(--white-cl);
}
.gallery-price .new-price {
  font-size: 34px;
  font-weight: 700;
  color: var(--accent-cl);
}

@media screen and (min-width: 768px) {
  .gallery-slider {
    width: 500px;
  }

  .gallery-photo {
    display: flex;
  }

  .gallery-photo .list-small-photo {
    flex-direction: column;
  }
  .gallery-photo .list-small-photo .item {
    border-left: 3px solid var(--white-cl);
    border-top: none;
  }

  .gallery-price {
    background-size: 170px;
  }
}
@media screen and (min-width: 1200px) {
  .box-gallery {
    flex-direction: row;
    justify-content: space-between;
  }

  .gallery-slider:not(:last-child) {
    margin: 0;
  }
}
.table {
  background-image: linear-gradient(195deg, rgb(34, 34, 34) 0%, rgb(34, 34, 34) 30%, rgb(106, 8, 16) 60%, rgb(228, 5, 23) 90%);
}
.table .box-table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-table {
  color: var(--white-cl);
}

table {
  font-size: 12px;
  color: var(--white-cl);
  border-collapse: collapse;
}
table th,
table td {
  padding: 3px;
  border: 1px solid gray;
}
table th {
  color: var(--white-cl);
}
table td {
  background-color: rgba(128, 128, 128, 0.5);
  text-align: center;
}

.table-man {
  margin-bottom: 30px;
}
.table-man th {
  background-color: var(--blue-cl);
}

.table-girl th {
  background-color: #ff6f6f;
}

.box-img-desktop {
  display: none;
}

@media screen and (min-width: 768px) {
  table {
    font-size: 14px;
  }
  table th,
table td {
    padding: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .table {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg.e356337b.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .table {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg@2x.09c0189a.png);
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .content-table {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .content-table .item {
    flex-basis: calc((100% - 20px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  table {
    width: 100%;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .table-man {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .box-img {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .box-img-desktop {
    display: flex;
    justify-content: center;
  }
}
.list-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list-benefits .item {
  padding: 10px;
  width: 300px;
  text-align: center;
}
.list-benefits .item:not(:last-child) {
  margin-bottom: 40px;
}
.list-benefits .box-img {
  margin: 0 auto;
  width: 207px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.list-benefits .heading {
  margin: 10px 0;
  font-size: 19px;
}

@media screen and (min-width: 768px) {
  .list-benefits {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .list-benefits .item {
    align-self: flex-start;
  }
  .list-benefits .item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .list-benefits {
    flex-wrap: nowrap;
    gap: 0;
  }
  .list-benefits .box-img {
    display: block;
  }
}
.how-work {
  color: var(--white-cl);
  background-color: var(--main-cl);
}

.list-delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.list-delivery .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-delivery .item:not(:last-child) {
  margin-bottom: 15px;
}
.list-delivery .box-icon {
  margin-right: 15px;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
.list-delivery .box-icon.icon-form {
  background-image: url(/form.76001d0e.png);
}
.list-delivery .box-icon.icon-delivery {
  background-image: url(/delivery.fc6b2825.png);
}
.list-delivery .box-icon.icon-courier {
  background-image: url(/courier.89d75a8d.png);
}
.list-delivery .text {
  font-size: 12px;
  width: 230px;
}

@media screen and (min-width: 768px) {
  .how-work {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg.4eac925a.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .how-work {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg@2x.77a5cd73.png);
  }
}
@media screen and (min-width: 768px) {
  .how-work-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media screen and (min-width: 768px) {
  .how-work-btn {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .how-work {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg.9ee7d023.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .how-work {
    background-image: linear-gradient(195deg, rgba(34, 34, 34, 0.8) 0%, rgba(34, 34, 34, 0.8) 100%), url(/bg@2x.40ad8720.png);
  }
}
@media screen and (min-width: 1200px) {
  .list-delivery .text {
    font-size: 18px;
    width: 345px;
  }
}
.reviews {
  background-color: #f9f9f9;
}

.reviews-slider {
  position: relative;
  padding-bottom: 50px;
}
.reviews-slider .item {
  display: flex;
  justify-content: center;
}
.reviews-slider .item:nth-child(4) {
  margin-top: 3px;
}
.reviews-slider .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--main-cl);
}
.reviews-slider .swiper-button-prev,
.reviews-slider .swiper-button-next {
  display: none;
}

@media screen and (min-width: 1200px) {
  .reviews-slider {
    padding: 0 60px 50px 60px;
  }
  .reviews-slider .swiper-button-prev,
.reviews-slider .swiper-button-next {
    top: 45%;
    display: block;
  }
  .reviews-slider .swiper-button-prev::after,
.reviews-slider .swiper-button-next::after {
    color: var(--main-cl);
  }
}
.order-form {
  position: relative;
  padding: 40px 0 555px 0;
  background-image: url(/bg.e44e7a03.png);
  background-repeat: no-repeat;
  background-position: center top;
}
@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .order-form {
    background-image: url(/bg@2x.0484ae8b.png);
    background-size: cover;
  }
}

.order-form-nav {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .order-form {
    background-image: url(/bg.a4b98e47.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .order-form {
    background-image: url(/bg@2x.0521f424.png);
  }
}
@media screen and (min-width: 1200px) {
  .order-form {
    background-image: url(/bg.3f859f5a.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .order-form {
    background-image: url(/bg@2x.bbef9184.png);
  }
}

/*# sourceMappingURL=/_policy.53ac4925.css.map */