.section-title {
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;

  .red {
    color: var(--accent-cl);
  }

  @include for-size(desktop) {
    margin-bottom: 50px;
    font-size: 32px;
  }
}
